
    <div class="row clearfix" ng-controller="app.views.branch.create as vm">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card main-content">
                <div class="header">
                    <h2>
                        @L("Branch")
                    </h2>
                  
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            @*<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>*@
                            @*<ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);" class="waves-effect waves-block()" ng-click="vm.refresh();"><i class="material-icons">refresh</i> @L("Refresh")</a></li>
                            </ul>*@
                        </li>
                    </ul>
                </div>
                <div class="body table-responsive">
                    <input id="name" type="text" name="name" ng-model="vm.branch.name" maxlength="32" minlength="2" class="validate form-control">
                    <div class="form-group">
                        <label for="ddlproject">Branch:</label>
                        <select id="ddlproject" class="form-control" ng-model="vm.branch.departmentId">
                            <option value="">Select Branch</option>
                            <option ng-repeat="nitya in  vm.department" value="{{ nitya.id }}">{{ nitya.name }}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()">
            @("save")
        </button>
    </div>
